<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<div class="register-container">
    <form action="/account/register" method="post" class="register-form">
        <label for="account_firstname">First Name</label>
        <input type="text" name="account_firstname" id="account_firstname" required>

        <label for="account_lastname">Last Name</label>
        <input type="text" name="account_lastname" id="account_lastname" required>

        <label for="account_email">Email Address</label>
        <input type="email" name="account_email" id="account_email" required>

        <label for="account_password">Password</label>
        <span>Password must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
        <input type="password" name="account_password" id="account_password" pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"" required>
        <div class="show-password">
            
            <input type="checkbox" id="showPassword" onclick="togglePassword()">
            <label for="showPassword">Show Password</label>
        </div>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="/account/login">Login here</a></p>
</div>

<script>
    function togglePassword() {
        const pw = document.getElementById("account_password")
        pw.type = pw.type === "password" ? "text" : "password"
    }
</script>