<h1><%= title %></h1>

<section class="error-message">
    <p><%- message %></p>

    <p>I'm sure you are looking for this page, and so are we!</p>
    <p>Head back to the <a href="/">homepage</a> in the meantime.</p>
</section>